img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 0px 0px 100px;

}

i {
    padding: 10px;
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

.contactItems {
    text-align: start;
    margin-left: 20px;
}

.contactList {
    padding: 30px;
}

.headerAgenda h2 {
    line-height: 1;
    margin: 0;
}

.contactIcons {
    text-align: end;
    justify-content: end;
}