.contactForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contactForm label {
    display: block;
}

.contactForm input {
    width: 100%;
}

.contactForm button {
    width: 100%;
}

.contactForm h2 {
    text-align: center;
}